.Bargain {
  width: 100%;
  height: auto;
  margin-top: 0.22rem;
}

.Bargain .p {
  width: 100%;
  height: 0.64rem;
  line-height: 0.64rem;
  margin: 0 auto;
  font-size: 0.2rem;
  border-bottom: 1px solid #f2f2f2;
  background: white;
}

.Bargain .p span {
  float: left;
  margin-left: 2.1rem;
}

.Bargain .p img {
  width: 0.15rem;
  height: 0.15rem;
  margin-left: 0.09rem;
  float: left;
  margin-top: 0.24rem;
}

.Bargain .Bargain_bed {
  width: 100%;
  height: 1.82rem;
  background: white;
  border-bottom: 1px solid ghostwhite;
  position: relative;
}

.Bargain .Bargain_bed .Bargain_bed_box {
  width: 4.75rem;
  height: 1.6rem;
  position: absolute;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}

.Bargain .Bargain_bed .Bargain_bed_box .Bargain_bed_box_img {
  width: 1.6rem;
  height: 1.6rem;
  float: left;
}

.Bargain .Bargain_bed .Bargain_bed_box .Bargain_bed_box_img img {
  width: 1.6rem;
  height: 1.6rem;
}

.Bargain .Bargain_bed .Bargain_bed_box_right {
  width: 2.96rem;
  height: 1.6rem;
  float: right;
}

.Bargain .Bargain_bed .Bargain_bed_box_right p {
  widows: 100%;
  font-size: 0.2rem;
  color: #5f5f5f;
}

.Bargain .Bargain_bed .Bargain_bed_box_right p span {
  font-size: 0.14rem;
  color: #b2b2b2;
}

.Bargain .Bargain_bed .Bargain_bed_box_right > div {
  width: 100%;
  height: 0.45rem;
  margin-top: 0.52rem;
  display: flex;
  font-size: 0.16rem;
}

.Bargain .Bargain_bed .Bargain_bed_box_right > div span {
  display: block;
  text-align: center;
  margin-left: 0.3rem;
}

.Bargain .Bargain_bed .Bargain_bed_box_right > div span p {
  color: red;
}

.Bargain .Bargain_bed .Bargain_bed_box_right > div a {
  display: block;
  margin-top: -0.1rem;
}
